@model List<MusteriViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Index</h1>

    <partial name="_Kategoriler" />

    @await Component.InvokeAsync("Urunler")

    <div class="alert alert-light lead">
        @*@ViewBag.Cookie*@
        @*@ViewBag.Session*@
        
        @{ 
            KullaniciKayitViewModel kullaniciKayitViewModel = (KullaniciKayitViewModel)ViewBag.Session;
        }
        
        @*Ad Soyad: @ViewBag.Session.Ad @ViewBag.Session.Soyad*@
        
        Ad Soyad: @kullaniciKayitViewModel.Ad @kullaniciKayitViewModel.Soyad
    </div>

    @*@Html.Partial("_Kategoriler")*@

    @*
        <br />

        <a asp-action="Index" asp-controller="Home" asp-route-id="1">Link</a>

        <br />

        <SE></SE>

        <SE gelen-data="www.duetron.com"></SE>

        <br />

        <p>ViewBag.isim : @ViewBag.isim</p>
        <p>ViewData.isim : @ViewData["isim"]</p>
        <p>TempData.isim : @TempData["isim"]</p>

        <hr />

        @foreach (var item in Model)
        {
            <strong>@item.Ad</strong><br />
        }*@
</body>
</html>
