@model List<SEProje.ToDo.Web.Models.MusteriViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Index</h1>

    @Html.Partial("_Kategoriler")

    <br />

    <p>ViewBag.isim : @ViewBag.isim</p>
    <p>ViewData.isim : @ViewData["isim"]</p>
    <p>TempData.isim : @TempData["isim"]</p>

    <hr />

    @foreach (var item in Model)
    {
        <strong>@item.Ad</strong><br />
    }
</body>
</html>
