@model List<GorevListViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h4 class="mt-4">Görev Listesi</h4>

<a asp-area="Admin" asp-controller="Gorev" asp-action="GorevEkle" class="btn btn-sm btn-primary my-2">Yeni Görev Ekle</a>

<table class="table table-sm table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Aciklama</th>
            <th>Oluşturma Tarihi</th>
            <th>Aciliyet</th>
            <th class="text-center" style="width:15%">İşlem</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count > 0)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Ad</td>
                    <td>@item.Aciklama</td>
                    <td>@item.OlusturmaTarihi</td>
                    <td>@item.Aciliyet?.Tanim</td>

                    <td class="text-center">
                        <a asp-area="Admin" asp-action="GorevDuzenle" asp-controller="Gorev" asp-route-id="@item.Id" class="btn btn-sm btn-info my-2">Düzenle</a>
                        <a data-id="@item.Id" data-toggle="modal" data-target="#gorevSilModal" class="btn btn-sm btn-danger my-2">Sil</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="text-center text-danger">
                <td colspan="6">Sistemde kayıtlı görev bulunamadı!</td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="gorevSilModal" tabindex="-1" role="dialog" aria-labelledby="gorevSilModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Uyarı</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Silmek istediğinizden emin misiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Vazgeç</button>
                <button type="button" class="btn btn-primary btn-sm" id="btnDelete">Evet</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        $(document).ready(function () {

            $('#gorevSilModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var id = button.data('id');
                var modal = $(this);

                $('#btnDelete').click(function () {

                    $.ajax({
                        type: 'GET',
                        url: '/Admin/Gorev/GorevSil/',
                        data: { id: id },
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8;',
                        success: function () {
                            alert("Silme işlemi tamamlandı");
                            window.location.reload();
                        },
                    })
                });
            });

        });

    </script>
}