@model GorevListViewModel
@{
    ViewData["Title"] = "Personel Ata";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h4 class="mt-4">Personel Ata</h4>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card border border-primary">
            <div class="card-header">
                <h5 class="text-center lead">Görev Bilgileri</h5>
            </div>
            <div class="card-body">
                <div class="card-title">@Model.Ad</div>
                <p class="card-text">
                    @Model.Aciklama
                </p>
                <p class="card-text">
                    <strong>Aciliyet Durumu:</strong><span class="badge badge-primary">@Model.Aciliyet.Tanim</span>
                </p>
                <p class="card-text">
                    <small>@Model.OlusturmaTarihi.ToString("D")</small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        @foreach (var item in (List<AppUserListViewModel>)ViewBag.Personeller)
        {
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="~/img/@item.Picture" alt="@item.Name" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name @item.Surname </h5>
                            <p class="card-text">
                                Bir görev almış mı?
                            </p>
                            <p class="card-text">
                                <small class="text-muted">@item.Email</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @for (int i = 1; i <= (int)@ViewBag.pageCount; i++)
                {
                    <li class="page-item @(ViewBag.currentPage == i ? "active" : "")">
                        <a asp-area="Admin" asp-controller="IsEmri" asp-action="PersonelAta" asp-route-id="@Model.Id" asp-route-page="@i" class="page-link">@i</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>